#body{
	background-color: #E0E2BD;
	width:1580px;
	height:700px;
}
#header{
	width:1580px;
	height:100px;
	background-color:#578ACC;
	margin: 0 auto;
}

#regBtn{
	width:90%;
	height:70px;
	margin-left:5%;
	margin-top:5%;
}

#login_div{
	background:linear-gradient(to bottom right,#FFFFFE,#F3F4ED);
	width:280px;
	height:320px;
	margin-left:20%;
	display:inline-block;
	vertical-align:80px;
}

#slide_div{
	background:linear-gradient(to bottom right,#FFFFFE,#F3F4ED);
	width:600px;
	height:350px;
	margin-top:0px;
	margin-left:70px;
	vertical-align:top;
	display:inline-block;
}
#about{
	position:absolute;
	margin-left:20%;
	margin-top:-30px;
}
#summercamp{
	position:absolute;
	top:7%;
	left:2%;
}
#about_content{
	color:black;
	position:absolute;
	top:30%;
	left:4%;
}